body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    color: #000000;
}

@media(prefers-color-scheme: dark) {
    body {
        color: #ffffff;
    }
}